.skills li {
    display: flex;
    flex-direction: column;
}

.skills .imagens {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.skills p {
    margin: 3px;
    padding: 0;
}

.skills img {
    width: 5rem;
    height: 5rem;
}
